#admin-settings{
    display: none;
}

.admin-flip-container{
    width: 150px;
    height : 430px;
    position: relative;
    margin-left: 40px;
    top: 26px;
    list-style: none;
    padding: 5px;
    display: inline-block;
}

.admin-flip{
    display: block;
    width: 140px;
    margin: 5px;
    height : 132px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}

.admin-flip-part1{
    height: 100%;
    width: 100%;
    text-align: center;
}

.admin-flip-part1 span{
    bottom: 10px;
    color: black;
    font-weight: bold;
    top: -50px;
    font-size: 10px;
    text-align: center;
}

.admin-flip-part2{
    height: 70%;
    width: 100%;
}

.admin-flip-part1 img{
    height: 40%;
    width: 40%;
    margin-top: 15%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 15%;
}

.admin-container{
    background-color: transparent;
    position:absolute;
    margin-left : 40px;
    list-style: none;
    left : 200px;   
    width : 1070px;
    top : 120px;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.admin-container2{
    background-color: #F9D597;
    position:absolute;
    margin-left : 40px;
    list-style: none;
    left : 200px;   
    width : 1070px;
    top : 140px;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.admin-graph-box{
    width: 100%;
    position: relative;
}

.admin-graph-controller{      
    width: 100%;
    height: 20px;
    left:0px;
    top: 0px;
    z-index: 100;
    text-align: center;
    font-family: Segoe UI;
    padding-top: 5px;
    color:black;
}

ul{
    list-style-type: none;
}

.admin-graph-controlShow{
    width: 100px;
    height: 20px;
    left: 500px;
    top: -20px;
    position: absolute;
    cursor: pointer;
    background-color: grey;
    border-top-left-radius: 10px;
    text-align: center;
    border-top-right-radius: 10px;
}

.admin-graph-controlShow img{
    width: 100%;
    height: 100%;
}

#adminGraphController :hover{
    background-color: red;
}

#closeGraph{
    position: absolute;
    right: 0px;
    height: 30px;
    top: 0px;
    width: 30px;
    cursor: pointer;
}

#closeGraph img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.admin-graph-container{
    top: 5px;
    position: relative;
    left:0px;
    background-color: #F9D597;/*   #F9D597     */
    width: 98%;
    height: 300px; 
    padding-left: 1%;
    padding-right: 1%;
}

.admin-data-container{
    width: 100%;
    position: relative;
}

#admin-graph-left{
    position: absolute;
    left: -10px;
    top: 150px;
    width: 30px;
    height: 30px;
}

#admin-graph-left img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#admin-graph-right{
    position: absolute;
    right: -10px;
    top: 150px;
    width: 30px;
    height: 30px;
}

#admin-graph-right img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
/************************************************************/

.navigation-settings{
    width:100%;
    border-collapse:collapse;  
    font-weight:bold;
    color:#6b6b6b;
    border-top: none;
    max-height: 300px;
    overflow-y:scroll;
    table-layout: fixed;
    overflow-y: auto;
    margin-top: -20px;
}

.navigation-options{
    width:100%;
    border-collapse:collapse;  
    font-weight:bold;
    color:#6b6b6b;
    border-top: none;
    max-height: 280px;
    overflow-y:scroll;
    table-layout: fixed;
    overflow-y: auto;
}

.navigation-tab{
    height:30px;  
    text-align: center;
    padding:0px;
    cursor: pointer;
}

.settings-contents{
    width: 100%;
    position: relative;
    background-color: #F9D597;
}

#settings-general{
    height: 450px;
}

.settings-general-options table{
    width: 100%;
}

.settings-general-options table tr{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.settings-general-options table tr td{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.settings-general-options{
    width: 33%;
    position: absolute;
}

.settings-general-options h3{
    padding: 10px;
    text-align: center;
}

.settings-general-options ul{
    margin: 10px;
}

.settings-general-emp-nio{
    width: 66.6%;
    position: absolute;
    left: 33%;
}

#nio-negative{
    right : 0px;
    position: absolute;
    width: 45%;
    top: 15px;
    border: 1px solid #E68A2E;
    height: 300px;
}

#nio-negative img{
    width: 20px;
    height: 20px;
    cursor:pointer;
    z-index: 100;
    float:  right;
    top: -20px;
    position: relative;
}

#nio-negative{
    width: 40%;
    background-color: transparent;
    z-index: 100;
    margin: 2%;
}

#nio-negative li{
    background-color: #E68A2E;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 100;
    margin: 2%;
    width: 95%;
    
}

#nio-negative li div{
    z-index: 100;
    position: relative;
    margin: 1%;
}

#nio-positive{
    width: 45%;
    position: absolute;
    top: 15px;
    height: 300px;
}

#nio-employee-to-remove{
    width: 300px;
    margin: 10px;
    top: 100px;
    height: 30px;
    position: relative;
    margin-left: 50px;
}

.nio-remove-employee-button{
    left: 120px;
    position: relative;
    top: 110px;
}

#element-nio-reason table{
    width: 100%;
    text-align: left;
}

#element-nio-reason input{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    padding: 2px;
    left: -18px;
    position: relative;
}

.field{
    left: 40px;
}

.gen-set-button-pos{
    left : 300px;
}

#admin-gen-set-buttons{
    padding-top: 20px;
    left:0px;
    border-top: #E68A2E 2px solid;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.admin-gen-settings-div{
    position: relative;
    width: 100%;
}

.admin-gen-settings-div tr{
    background-color: #F9D597;/*#F9D597*/
    border: none;
}

.admin-gen-settings-div tr td{
    background-color: #F9D597;
    border: 1px solid #E68A2E;
}

td h3{
    text-align: center;
}

.toggle-button-span{
    margin-top: -10px;
    font-family: Segoe UI;
    font-weight: bold;
    padding-bottom: 50px;
}

.field td input{
    border: none;
}

#element-nio-reason{
    z-index: 0;
}

.remove-nio-reason{
    background-color: red;
    width: 30px;
    height: 30px;
    position: absolute;
}

.nio-reasons-box{
    height: 270px;
    border: 1px solid #E68A2E;
    width: 300px;  
}

.nio-reasons-box ul{
    list-style: none;
    z-index: 100;
}

.nio-reason{
    width: 295px;
    margin-left: 2px;
    background-color: #E68A2E;
    color: black;
    margin-top: 4px;
    text-align: left;
    z-index: 100;
}

.nio-reason table{
    width: 100%;
    background-color: #E68A2E;
    z-index: 100;
}

.nio-reason table tr{
    background-color: #E68A2E;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 100;
}

.nio-reason table tr td{
    background-color: #E68A2E;
    text-align: left; 
    z-index: 100;
}

.nio-reason table tr td img{
    width: 20px;
    height: 20px;
    cursor:pointer;
    z-index: 100;
}

.leave-prio-box{
    height: 180px;
    border: 1px solid #E68A2E;
    margin-right: 20px;
    width: 300px;
    list-style-type: none;
}

.leave-prio{
    width: 275px;
    margin-left: 1%;
    background-color: #E68A2E;
    padding: 9px;
    color: black;
    margin-top: 4px;
    text-align: center;
    margin-bottom:  4px;
    cursor: pointer;
}

.admin-gen-settings-div tr td input{
    margin-top: 10px;
    width: 275px;
    height: 30px;
    margin-bottom: 10px;
    padding: 2px;
    left: -20px;
}

.add-nio-reason{
    left: 0px;
}

#settings-privilage{
    padding-bottom: 20px;
}

.searchBox{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    background-color: #F9D597;
    position: relative;
}

.searchBox input{
    width: 300px;
    height: 30px;
    padding: 3px;
    margin: 6px 10px 6px 10px;
    display: inline;
    position: relative;
}

.searchBox select{
    width: 300px;
    height: 30px;
    display: inline-block;
    margin: 6px 30px 6px 30px;
    position: absolute;
}

.searchBox span{
    width: 300px;
    height: 30px;
    right: 30px;
    display: inline-block;
    margin: 3px 30px 3px 30px;
    position: absolute;
    padding-top: 3px;
    color: black;
    font-weight: bold;
}

h1{
    color: black;
}