.nio-cal-contents{
    width: 100%;
    height: 85.5%;
    background-color: transparent;
    position: relative;
}

#nio-calendar{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 73%;
    height: 100%;
    background-color: transparent;
}

.nio-selected-contents{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    background-color: white;
    width: 27%;
}

.nio-cal-control{
    position: relative;
    bottom: 0px;
    height: 8%;
    width: 100%;
    background-color: #E68A2E;
}

.nio-cal-info{
    position: relative;
    top: 0px;
    height: 11%;
    width: 100%;
    background-color: #E68A2E;
}

.nio-apply-form{
     position: relative;
    width: 100%;
    height: 65%;
    background-color: #F9D597;
    overflow-y:scroll;
}

.nio-apply-dates{
    width: 100%;
    border-collapse: collapse;
}

.nio-row-date{
    width: 100%;
    background-color: #F9C775;
    border-bottom: 1px #F9D597 solid;
}

.nio-row-date td{
     padding: 1px;
}

#nio-apply-reason{
    width: 90%;
    padding: 1%;
    margin-top: 2%;
    margin-left: 5%;
    text-align: center;
}

#nio-apply-add-description{
    width: 90%;
    padding: 1%;
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 3px;
    text-align: center;
}

.nio-cal-button{
    width: 30%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    text-transform: uppercase;
    padding: 2%;
    position: absolute;
    cursor: pointer;
}

.nio-cal-button :hover{
    border: 1px white solid;
}

#nio-cal-applyButton{
   background-color: green; 
  right:  1%;
}

#nio-cal-checkAll{
    background-color: green;
    right: 1%;
}

#nio-cal-unCheckAll{
   background-color: red; 
   left: 1%;
}

#nio-cal-addButton{
    background-color: green;
    right: 1%;
}
#nio-cal-removeButton{
   background-color: red; 
   left: 1%;
}

#nio-cal-cancelButton{
    background-color: red;
    left: 1%;
}

.nio-date-remove{
    cursor: pointer;
}